@font-face {
    font-family: "behdad";
    src: url("../fonts/behdad.otf") format("opentype"),
         url("../fonts/behdad.woff") format("woff"),
         url("../fonts/behdad.ttf") format("truetype");
    font-weight: normal;
}